{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_studentdetails">View Student Details</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_workingtime">View Working Time</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_notesvideos">View Notes &amp; Videos</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_fooditemsschedule">View Food Items &amp; Schedule</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="add_feedback">Add Feedback</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="send_complaintviewreply">Send Complaints &amp; View Reply</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="send_leaverequest">Send Leave Request</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="#">Chat</a></div></td>#}
{#    </tr>#}
{#      <tr>#}
{#      <td><div align="center"><a href="logout">LOGOUT</a></div></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
