{% extends 'indexparent.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/addnewcomp#about">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <td>Complaint</td>
      <td><label>
        <input type="text" name="textfield" class="form-control"required pattern="[A-Z a-z.]{3,25}"  />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Send" class="btn btn-Primary"/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}