{% extends 'indexstaff.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="student_search#about">
  <table width="200" border="1"  class="table table-striped">
    <tr>
      <td colspan="10">Name
        <label>
        <input type="name" name="textfield"  value="{{ search }}" required />
        <input type="submit" name="Submit" value="search" class="btn btn-Primary" />
      </label></td>
    </tr>
    <tr>
      <td>slno</td>
      <td>Name</td>
      <td>Age</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Email</td>
      <td>Parent Name</td>
      <td></td>
    </tr>
      {% for i in val %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
        <td><img src="{{ i.photo.url }}"width="100" height="100"><br>{{ i.firstname }} {{ i.lastname }}</td>
      <td>&nbsp;{{ i.age }}</td>
      <td>&nbsp;{{ i.post }}<br>{{ i.place }}<br>{{ i.pin }}</td>
      <td>&nbsp;{{ i.phone }}</td>
      <td>&nbsp;{{ i.email }}</td>
      <td>{{ i.parentname }}</td>
      <td></td>
      <td>
        <p><a href="{% url 'edit_student' id=i.id %}#about"class="btn btn-success">edit</a></p>
        <p><a href="{% url 'delete_studentsss' id=i.id %}"class="btn btn-danger">delete</a></p>
     </td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="8"><div align="center"><a href="/add_student#about"class="btn btn-Primary">Add</a></div></td>
    </tr>
  </table>
</form>
{% endblock %}