{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_profilestaff">View Profile</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_assignedanganwadi">View Assigned Anganwadi</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_workingtime">View Working Time</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_syllabus">View Syllabus</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_feedback">View Feedback</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_leaverequest">View Leave Request</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="#">Group Chat with Parent</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="upload_studynotesvideos">Upload Study Notes & Videos</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="view_fooditemsschedules">View Food Items & Schedule</a></div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="manage_studentdetails">Manage Student Details</a></div></td>#}
{#    </tr>#}
{#      <tr>#}
{#      <td><div align="center"><a href="logout">LOGOUT</a></div></td>#}
{#    </tr>#}
{#  </table>#}
{#  <div align="center"></div>#}
{#</form>#}
{#</body>#}
{#</html>#}
