{% extends 'index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="manage_staff_search#about">
  <table width="200" border="1"  class="table table-striped">
     <tr>
      <td colspan="8">Name
        <label>
        <input type="name" name="textfield"  value="{{ search }}" required />
        <input type="submit" name="Submit" value="search" class="btn btn-Primary" />
      </label></td>
    </tr>
    <tr>
      <td>slno</td>
      <td>Name</td>
      <td>Age</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Email</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ forloop.counter }}</td>
        <td><img src="{{ i.photo.url }}"width="100" height="100"><br>{{ i.firstname }} {{ i.lastname }}</td>
      <td>{{ i.age }}</td>
      <td>{{ i.place }} <br>{{ i.post }} <br>{{ i.pin }}</td>
      <td>{{ i.phone }}</td>
      <td>{{ i.email }}</td>
      <td><p align="center"><a href="{% url 'edit_staffs' id=i.id %}#about" class="btn btn-success">edit</a></p>
      <p align="center"><a href="{% url 'delete_staff' id=i.id %}" class="btn btn-danger">delete</a></p></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="7"><div align="center"><a href="add_staff#about" class="btn btn-Primary">Add</a></div></td>
    </tr>
  </table>
</form>
{% endblock %}